.contact-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}

.form {
  min-width: 600px;
  display: flex;
  flex-direction: column;
}

.submit-btn {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .form {
    min-width: 80%;
  }
}
