.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.title-gallery {
  text-align: center;
  margin-bottom: 40px;
}

.img-fluid {
  border-radius: 5px;
  cursor: pointer;
  transition: scale 0.4s;
}

.img-fluid:hover {
  scale: 1.05;
}

.form-control {
  background-color: #a5bacf !important;
  border: var(--bs-border-width) solid #26282b !important;
}

.btn-primary {
  background-color: #3d668f !important;
}



@media screen and (max-width: 768px) {
  .gallery-container {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
   }
 
   .gallery {
     max-width: 90%;
     gap: 30px;
   }
 }
 